# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# ML / data artifacts
*.npy
*.pt
*.pth
*.h5/
models/


